.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.manager__menu {
  display: block;
  margin: 10px;
  text-decoration: none;
}
.login-page {
  background-image: url(https:////static.vexere.com/production/banners/330/background-ok-optimize.png);
  height: 100vh;
  background-size: cover;
  margin-top: 0;
}
.login-page h1 {
  padding-top: 50px;
  color: #3b3f94;
}
.login-page h3 {
  padding-top: 50px;
  color: #3b3f94;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #25808cc2 !important;
}
.title_addnew {
  color : #279093
}

.content__grid {
  text-align: start;
  padding-left: 40px;
}
